@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

//logo
.logo {
    img {
        width: 80px;
        margin-right: 40px;
    }
}

//carrito-nav
#carrito {
    margin-left: 5rem;
}

//login
.login {
    list-style: none;
    float: right;
}

.btn-primary {
    margin: 10px;
}


//card
.card {
    margin-top: 50px;
    margin-bottom: 25px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    max-width: 520px;

    img {
        max-width: 300px;
        display: block;
        margin: auto;
    }
}

.card-price {
    color: black;
    font-size: 22px;
    font-weight: bold;
}

h5 {
    font-size: 27px !important;
}

.card-text {
    font-size: 15px;
}

.mb-4,
.my-4 {
    padding-top: 1.5rem !important;
}



//footer
#footer {
    margin-top: 50px;
}

/*== Box Login ==*/
.ShowBox {
    opacity: 1 !important;
    pointer-events: auto !important;
}

/*== Login ==*/
#login {
    margin-left: 160px;
}

.Login {
    right: 1;
    z-index: 77;
    background: #fff;
    color: black;
    text-transform: none;
    line-height: normal;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    transition: all .3s ease-in-out;
    opacity: 0;
    pointer-events: none;

    a {
        text-decoration: none;
        line-height: auto;
        text-align: center;
        display: block;
    }
}


/*== banner ==*/
.banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-out;
    background-image: url("../assets/img/slide-1.jpg");
    animation: banner 19s infinite linear;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        font-size: 65px;
        text-align: center;
        color: white;
        font-family: 'Kanit', sans-serif;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 9px 20px;
        border: 1px solid #FFF;
        text-transform: uppercase;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #333;
        }
    }
}

@keyframes banner {
    0% {
        background-image: url("../assets/img/slide-1.jpg");
    }

    25% {
        background-image: url("../assets/img/slide-1.jpg");
    }


    26% {
        background-image: url("../assets/img/slide-2.jpg");
    }

    50% {
        background-image: url("../assets/img/slide-2.jpg");
    }


    51% {
        background-image: url("../assets/img/slide-3.jpg");
    }

    75% {
        background-image: url('../assets/img/slide-3.jpg');
    }


    76% {
        background-image: url("../assets/img/slide-4.jpg");
    }

    100% {
        background-image: url("../assets/img/slide-4.jpg");
    }

}

/*=======================================================================================================
=                                        Media queries                                                  =
========================================================================================================*/
/* col-xs */
@media (max-width: 767px) {
    .NoScroll {
        overflow-y: hidden;
    }

    .btn-menuMobile {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        color: #fff;
        height: 50px;
        width: 50px;
        cursor: pointer;
        line-height: 50px;
        font-size: 25px;
        transition: all .3s ease-in-out;

        &:hover {
            color: #FAE76F;
        }
    }

    .Login {
        position: fixed;
        height: 100%;
        top: 0;
        padding-top: 50px;
        z-index: 100;
    }
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {}

/* col-lg */
@media (min-width: 1200px) {}

/*col-sm col-md col-lg*/
@media (min-width: 768px) {
    #login {
        margin-left: 0px;
    }

    .Login {
        border: 1px solid #E1E1E1;
        position: absolute;
        width: 250px;
    }

    .Login::after,
    .Login::before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .Login::after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 11px;
        margin-right: 0px;
    }

    .Login::before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #E1E1E1;
        border-width: 12px;
        margin-right: -2px;
    }
}

@media (min-width: 425px) {
    #login {
        margin-left: 0px;
    }
}

/* pushbar */
.pushbar {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.btn-cerrar.izquierda {
    text-align: left;
}

.pushbar.btn-cerrar button {
    background: none;
    color: blue($color: #e30808) !important;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.pushbar-carrito {
    background-color:white;
    width: 565px !important;
    font-size: 18px;
    font-weight: 300px;
}


.carrito-titulo {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Passion One', cursive;
}

.icon-carrito {
    margin-top: 25px;
    border-width: 0px !important;
}

.pushbar-carrito-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    h3 {
        font-size: 22px;
        font-weight: bold
    }


    img {
        width: 200px;
    }

    p {
        font-size: 15px;
        color: black;
    }

    span {
        font-size: 20px;
    }

    input {
        width: 55px;
        height: 37px;
    }

    i {
        float: right;
    }
}

.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    display: none;
    top: 40px;
    right: 469px;
}


.sumar {
    cursor: pointer;
    margin-left: 10px!important;
}

.restar {
    cursor: pointer;
    margin-right: 10px!important;
}

.pushbar-total-content{
    font-size: 20px;
    color: black;
    margin: 10px;
}

.cantidades{
    flex-direction: row!important;
    display: flex;
}

.precio-unidad{
    font-size: 19px!important;
    font-weight: bold
}

.pushbar-total-content{
    font-weight: bold
}

//forms
#contact{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #ffffff;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 10px ;
	display: inline;
	
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

h1 {
        color: #474544;
        font-size: 37px;
        font-weight: 700;
        letter-spacing: 7px;
        padding-top: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', Arial, sans-serif;
    }
    


.titulo-catalogo{
    font-size: 60px;
    text-align: center;
    margin: 15px;
    font-family: 'Kanit', sans-serif;
}

.precioDolar{
    font-size: 14px;
    color: #474544;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 7px;
}

.textoDolar{
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    margin-left: 5px;
    margin-bottom: 0px;
}

.social-media p a {
    width: 34px;
    height: 48px!important;
    }

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
